
<p id="notice"><%= notice %></p>

  <tbody>
    <% if @tags.any? %>
    <h1>Tags</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Color</th>
          <th>Amount of tasks:</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @tags.each_with_index do |tag, y| %>


      <tr>
        <td><%= y+1 %></td>
        <td><%= tag.title %></td>
        <td>  <svg height="30" width="30">
            <circle cx="15" cy="15" r="12" stroke="black" stroke-width="1" fill= "<%= tag.color %>"/>
            Sorry, your browser does not support inline SVG.
          </svg>
          <td>  <%=current_user.tasks.joins(:tag_associations).where(tag_associations: {tag_id: tag.id}).count%></td>
          <td><%= tag.created_at %></td>
          <td><%= tag.updated_at %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
    <h4>     You dont have any Tag, use link below to create your first. </h4>
     <%end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path , class: 'btn btn-primary' %>

     <br><br>